    <div class="row">
      <div class="col-md-4">
      <%= image_tag(image.onex)%>
        <p ><%= image.onex_file_name %></p>

      </div>
      <div class="col-md-4">
      <%= image_tag(image.twox)%>
        <p ><%= image.twox_file_name %></p>

      </div>
      <div class="col-md-4">
      <%= image_tag(image.threex)%>
        <p ><%= image.threex_file_name %></p>

      </div>
      <div class="caption">
      </div>
    </div>
