    <div class="row image-view">
      <div class="col-md-3 image-box well">
      <%= image_tag(image.onex, class: "image-thumbnail")%>
        <p><%= image.onex_file_name %></p>

      </div>
      <div class="col-md-3 image-box well">
      <%= image_tag(image.twox, class: "image-thumbnail")%>
        <p><%= image.twox_file_name %></p>

      </div>
      <div class="col-md-3 image-box well">
      <%= image_tag(image.threex, class: "image-thumbnail")%>
        <p><%= image.threex_file_name %></p>

      </div>
      <div class="caption">
      </div>
    </div>
